In [15]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("C:\\Users\\shekh\\Downloads\\top-1000-trending-youtube-videos.csv")

# Display basic info and first 5 rows
#print(df.info())
#print(df.head())
print(df)

     rank                                              Video    Video views  \
0       1  20 Tennis shots if they were not filmed, NOBOD...      3,471,237
1       2  Lil Nas X - Old Town Road (Official Movie) ft....     54,071,677
2       3                 JoJo Siwa - Karma (Official Video)     34,206,747
3       4  Wiz Khalifa - See You Again ft. Charlie Puth [...  6,643,904,918
4       5                       伊賀の天然水強炭酸水「家族で、シュワシェア。」篇　15秒    236,085,971
..    ...                                                ...            ...
995   996  CALIFORNIA - MONDAY JUSTICE FEAT. SNOOP DOGG (...        943,248
996   997  John McEnroe's most famous outburst happened i...      4,853,621
997   998                         Adi Golan's Group - Teaser         56,578
998   999                   Keg tapping goes horribly wrong.        751,804
999  1000  LIVE Hurricane Irma - Downtown Orlando - Ameri...        554,438

          Likes Dislikes         Category  published
0        19,023      859              NaN       2017
1     3,497,955   78,799            Music       2019
2       293,563      NaN            Music       2024
3    44,861,602      NaN            Music       2015
4            38      NaN              NaN       2021
..          ...      ...              ...        ...
995       2,949       22            Music       2017
996       7,254      426           Sports       2010
997         NaN      NaN            Music       2014
998       3,427      313    Entertainment       2017
999         184        8  News & Politics       2016

[1000 rows x 7 columns]

In [16]:
# Remove commas and convert to integers
df['Video views'] = df['Video views'].str.replace(',', '').astype(float)
df['Likes'] = df['Likes'].str.replace(',', '').astype(float)
df['Dislikes'] = df['Dislikes'].str.replace(',', '').astype(float)

In [17]:
print(df)

     rank                                              Video   Video views  \
0       1  20 Tennis shots if they were not filmed, NOBOD...  3.471237e+06
1       2  Lil Nas X - Old Town Road (Official Movie) ft....  5.407168e+07
2       3                 JoJo Siwa - Karma (Official Video)  3.420675e+07
3       4  Wiz Khalifa - See You Again ft. Charlie Puth [...  6.643905e+09
4       5                       伊賀の天然水強炭酸水「家族で、シュワシェア。」篇　15秒  2.360860e+08
..    ...                                                ...           ...
995   996  CALIFORNIA - MONDAY JUSTICE FEAT. SNOOP DOGG (...  9.432480e+05
996   997  John McEnroe's most famous outburst happened i...  4.853621e+06
997   998                         Adi Golan's Group - Teaser  5.657800e+04
998   999                   Keg tapping goes horribly wrong.  7.518040e+05
999  1000  LIVE Hurricane Irma - Downtown Orlando - Ameri...  5.544380e+05

          Likes  Dislikes         Category  published
0       19023.0     859.0              NaN       2017
1     3497955.0   78799.0            Music       2019
2      293563.0       NaN            Music       2024
3    44861602.0       NaN            Music       2015
4          38.0       NaN              NaN       2021
..          ...       ...              ...        ...
995      2949.0      22.0            Music       2017
996      7254.0     426.0           Sports       2010
997         NaN       NaN            Music       2014
998      3427.0     313.0    Entertainment       2017
999       184.0       8.0  News & Politics       2016

[1000 rows x 7 columns]

In [18]:
df_cleaned = df.dropna(subset=['Likes', 'Category'])

In [19]:
df_cleaned = df_cleaned.drop(columns=['Dislikes'])

In [20]:
df_cleaned.info()

df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 804 entries, 1 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         804 non-null    int64
 1   Video        804 non-null    object
 2   Video views  804 non-null    float64
 3   Likes        804 non-null    float64
 4   Category     804 non-null    object
 5   published    804 non-null    int64
dtypes: float64(2), int64(2), object(2)
memory usage: 44.0+ KB

,rank,Video,Video views,Likes,Dislikes,Category,published
0,1,"20 Tennis shots if they were not filmed, NOBOD...",3.471237e+06,19023.0,859.0,NaN,2017
1,2,Lil Nas X - Old Town Road (Official Movie) ft....,5.407168e+07,3497955.0,78799.0,Music,2019
2,3,JoJo Siwa - Karma (Official Video),3.420675e+07,293563.0,NaN,Music,2024
3,4,Wiz Khalifa - See You Again ft. Charlie Puth [...,6.643905e+09,44861602.0,NaN,Music,2015
4,5,伊賀の天然水強炭酸水「家族で、シュワシェア。」篇 15秒,2.360860e+08,38.0,NaN,NaN,2021

In [21]:
df_cleaned = df.dropna()

In [22]:
print(df)

     rank                                              Video   Video views  \
0       1  20 Tennis shots if they were not filmed, NOBOD...  3.471237e+06
1       2  Lil Nas X - Old Town Road (Official Movie) ft....  5.407168e+07
2       3                 JoJo Siwa - Karma (Official Video)  3.420675e+07
3       4  Wiz Khalifa - See You Again ft. Charlie Puth [...  6.643905e+09
4       5                       伊賀の天然水強炭酸水「家族で、シュワシェア。」篇　15秒  2.360860e+08
..    ...                                                ...           ...
995   996  CALIFORNIA - MONDAY JUSTICE FEAT. SNOOP DOGG (...  9.432480e+05
996   997  John McEnroe's most famous outburst happened i...  4.853621e+06
997   998                         Adi Golan's Group - Teaser  5.657800e+04
998   999                   Keg tapping goes horribly wrong.  7.518040e+05
999  1000  LIVE Hurricane Irma - Downtown Orlando - Ameri...  5.544380e+05

          Likes  Dislikes         Category  published
0       19023.0     859.0              NaN       2017
1     3497955.0   78799.0            Music       2019
2      293563.0       NaN            Music       2024
3    44861602.0       NaN            Music       2015
4          38.0       NaN              NaN       2021
..          ...       ...              ...        ...
995      2949.0      22.0            Music       2017
996      7254.0     426.0           Sports       2010
997         NaN       NaN            Music       2014
998      3427.0     313.0    Entertainment       2017
999       184.0       8.0  News & Politics       2016

[1000 rows x 7 columns]

In [23]:
duplicates = df[df.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [rank, Video, Video views, Likes, Dislikes, Category, published]
Index: []

In [24]:
df_no_duplicates = df.drop_duplicates()

In [25]:
df_no_duplicates = df.drop_duplicates(subset=['Video'])

In [26]:
df_no_duplicates = df.drop_duplicates(keep='last')

In [27]:
df_no_duplicates = df_no_duplicates.reset_index(drop=True)

In [28]:
print(df)

     rank                                              Video   Video views  \
0       1  20 Tennis shots if they were not filmed, NOBOD...  3.471237e+06
1       2  Lil Nas X - Old Town Road (Official Movie) ft....  5.407168e+07
2       3                 JoJo Siwa - Karma (Official Video)  3.420675e+07
3       4  Wiz Khalifa - See You Again ft. Charlie Puth [...  6.643905e+09
4       5                       伊賀の天然水強炭酸水「家族で、シュワシェア。」篇　15秒  2.360860e+08
..    ...                                                ...           ...
995   996  CALIFORNIA - MONDAY JUSTICE FEAT. SNOOP DOGG (...  9.432480e+05
996   997  John McEnroe's most famous outburst happened i...  4.853621e+06
997   998                         Adi Golan's Group - Teaser  5.657800e+04
998   999                   Keg tapping goes horribly wrong.  7.518040e+05
999  1000  LIVE Hurricane Irma - Downtown Orlando - Ameri...  5.544380e+05

          Likes  Dislikes         Category  published
0       19023.0     859.0              NaN       2017
1     3497955.0   78799.0            Music       2019
2      293563.0       NaN            Music       2024
3    44861602.0       NaN            Music       2015
4          38.0       NaN              NaN       2021
..          ...       ...              ...        ...
995      2949.0      22.0            Music       2017
996      7254.0     426.0           Sports       2010
997         NaN       NaN            Music       2014
998      3427.0     313.0    Entertainment       2017
999       184.0       8.0  News & Politics       2016

[1000 rows x 7 columns]

In [29]:
print("Duplicate rows:", df.duplicated().sum())

Duplicate rows: 0

In [30]:
print(df[df.duplicated()])

Empty DataFrame
Columns: [rank, Video, Video views, Likes, Dislikes, Category, published]
Index: []

In [32]:
df.isnull().sum()

df.isnull().mean() * 100

rank            0.0
Video           0.0
Video views     0.0
Likes           2.7
Dislikes       31.3
Category       18.0
published       0.0
dtype: float64